.input_wrapper{
    display:flex; 
    align-items: center; 
    width:80%; 
    margin-bottom:10px; 
    justify-content: flex-end;
}

.input_title{
    font-weight:bold;
    width:100px;
}

#input_text{
    margin:10px;
    width:300px;
}